@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/* font-family: 'Roboto', sans-serif;  h1 */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }
/* header */
header{
    height: 100vh;
    display: flex;
}
nav{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav ul{
    float: right;
    margin-right: 100px;
    margin-top: 35px;
}
 ul li{
    display: inline;
    margin: 20px;
}
 ul li a{
    text-decoration: none;
    color: black;
    font-family:  'Roboto', sans-serif;
    position: relative;
    z-index: 1;
}
ul li a:hover{
   color: #227C01;
}
.line{
    position: absolute;
    width: 50px;
    height: 0px;
    left: 811px;
    top: 65px;
    border: 3px solid #227C01;
    border-radius: 8px;
}
.logo{
    margin-left: 100px;
    float: left;
    margin-top: 10px;

}
.jumbotron {
    margin-top: 15%;
    position: absolute;
    
    
}
.jumbotron-column{
    display: flex;
    flex-direction: row;
}
.jumbotron-img{
    flex-basis: 40%;
    margin-left: 20%;
    
}
.img-banner{
position: absolute;
width: 375px;
height: 403px;
left: 154px;
top: 0;
background: #125B50;
}
.img-banner img {
    position: absolute;
    margin-top: -55px;
    margin-left: 74px;
    margin-bottom: 33px;
    top: 0;
}
.jumbtron-title{
    flex-basis: 60%;
    right: 50px;
}
h1{
    font-family: 'Roboto', sans-serif;
    /* font-weight: 600; */
    font-size: 50px;
}
.jumbtron-title p{
    margin-right: 155px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}
.btn-jumbotron{
box-sizing: border-box;
position: absolute;
width: 100px;
height: 32px;
left: 774px;
margin-top: 30px;
background: #FEFEFE;
border: 1px solid #3EC70B;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
cursor: pointer;

}
.btn-jumbotron:hover{
    background: #23600C;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
/* end header */

/* About */
.about{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 3%;

}
#about-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
}
.line-title{
    position: relative;
    width: 138px;
    border-radius: 8px;
    border: 5px solid #236000;
    align-items: center;
    margin-left: 605px;
    margin-top: -20px;
}
.about-column{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.about-row{
    margin-left: 10%;
    flex-basis: 60%;
    margin-top: 30px;
}
.about-row h3{
    color: #23600C;
    margin-top: 20%;
    font-size: 25px;
}
.about-row p{
    text-align: justify;
    letter-spacing: 1px;
}
/* End About */

@media screen and (maw-width :700px) {
    .about-row{
        flex-direction: column;
    }
}

/* Produk */
.produk{
    margin-top: 5%;
    align-items: center;
}
#produk-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
}