@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/* font-family: 'Roboto', sans-serif;  h1 */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    /* overflow-x: ; */
    font-family: 'Quicksand', sans-serif;
}
header {
    height: 100vh;
}
nav{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    /* padding: 10px; */
    height: 80px;
    position: sticky;
}
nav ul {
    position: sticky;
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 40px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    /* margin-top: 30px; */
}
nav ul li a:hover{
    color: #227C01;
 }
 nav .logo img {
    margin-top: 10px;
 }
 h1 {
    margin-bottom: 20px;
 }
.menu-bar{
    display: none;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}
.menu-bar input {
    position: absolute;
    width: 60px;
    height: 40px;
    left: -10px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
/* animasi menu-bar*/
.menu-bar span:nth-child(2){
    background-color: black;
    transform-origin: 0 0;
}
.menu-bar span:nth-child(4){
    background-color: black;
    transform-origin: 0 100%;
}
.menu-bar input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(0px, -1px);
}

.menu-bar input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-bar input:checked~span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}
.menu-bar span:nth-child(2){
    background-color: black;
}
.menu-bar span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.5s;
}
.jumbotron {
    margin-top: 10%;
    position: absolute;
    
    
}
.jumbotron-column{
    display: flex;
    flex-direction: row;
}
.jumbotron-img{
    flex-basis: 40%;
    margin-left: 20%;
    
}
.img-banner{
position: absolute;
width: 375px;
height: 403px;
left: 154px;
top: 0;
background: #125B50;
}
.img-banner img {
    position: absolute;
    margin-top: -55px;
    margin-left: 74px;
    margin-bottom: 33px;
    top: 0;
}
.jumbtron-title{
    flex-basis: 60%;
    right: 50px;
}
h1{
    font-family: 'Roboto', sans-serif;
    /* font-weight: 600; */
    font-size: 50px;
}
.jumbtron-title p{
    margin-right: 155px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}
.btn-jumbotron{
box-sizing: border-box;
position: absolute;
width: 100px;
height: 32px;
left: 774px;
margin-top: 30px;
background: #FEFEFE;
border: 1px solid #3EC70B;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
cursor: pointer;

}
.btn-jumbotron:hover{
    background: #23600C;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}
/* end header */
/* about */
.about{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 3%;

}
#about-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 40px;
}
.line-title{
    position: relative;
    width: 138px;
    border-radius: 8px;
    border: 5px solid #236000;
    align-items: center;
    margin-left: 605px;
    margin-top: -20px;
}
.about-column{
    margin-top: 40px;
    display: flex;
    /* flex-direction: row; */
}
.about-row{
    margin-left: 10%;
    flex-basis: 60%;
    margin-top: 30px;
    flex-direction: row;
}
.about-row h3{
    margin-bottom: 20px;
    color: #23600C;
    font-size: 25px;
}
/* end about */
/* Produk */

.produk{
    margin-top: 5%;
    align-items: center;
}
#produk-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 40px;
}
.produk-column{
    margin-top: 40px;
    display: flex;
}
.produk-row{
    display: flex;
    margin-left: 10%;
    flex-basis: 80%;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 10%; */
    align-items: center;
}
.produk-card{
    text-align: center;
    margin-top: 30px;
    position: relative;
width: 240px;
height: 327px;
/* left: 93px; */
background: #FEFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.produk-img{
    padding: 40px ;
}
.produk-card h3{
    margin-top: 11px;
    font-size: 20px;
    color: #23600C;
}
.produk-card p{
    margin-top: 15px;
    position: absolute;
    left: 15px;
    font-size: 15px;
    text-align: left;
    color: #23600C;
}
.btn-produk{
position: absolute;
width: 73px;
height: 27px;
right: 20px;
bottom: 14px;
color: #FFFFFF;
cursor: pointer;
/* left: 553px;
top: 1903px; */
border: none;
background: #23600C;
border-radius: 5px;
}
/* end produk */
/* Gallery */
.gallery{
    margin-top: 5%;
    align-items: center;
}
#gallery-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 40px;
}
.galery-column{
    margin-top: 40px;
    display: flex;
}
.gallery-row{
    display: flex;
    margin-left: 100px;
    flex-basis: 80%;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 10%; */
    align-items: center;
    z-index: 0;
}
.gallery-image{
    
position: relative;
width: 332px;
height: 328px;
/* left: 92px; */
/* top: 2210px; */
margin: 30px;
transition: transform .2s; /* Animation */
}
.gallery-image:hover{
    transform: scale(1.2);
}
/* end gallery */
/* kontak */
.kontak{
    margin-top: 5%;
    align-items: center;
}
#kontak-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 40px;
}
.card-profile{
    /* position: absolute; */
width: 390px;
height: 425px;
/* left: 852px; */
/* top: 3257px; */
background: linear-gradient(180deg, #D9FACD 0%, rgba(57, 167, 17, 0) 95.83%);
box-shadow: 0px 4px 6px 3px #227C01;
border-radius: 8px;
}
.card-profile h2{
    text-align: center;
    padding: 20px;
    color: #23600C;
}
.card-img{
    position: relative;
    margin-top: 10px;
    /* right: px; */
    left:35%;
}
.kontak-column{
    margin-top: 5%;
    display: flex;
    margin-bottom: 50px;
}.kontak-row{
    display: flex;
    margin-left: 100px;
    flex-basis: 80%;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 10%; */
    align-items: center;
    z-index: 0;
    
}
.info{
    /* margin-top: 150px; */
    margin-left: 30px;
}
.info p{
    margin: 20px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #227C01;
    border-radius: 4px;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #227C01;
    border-radius: 4px;
}
.form-contact{
    flex-basis: 40%;
}
.btn-submit{
    border: none;
    position: relative;
    width: 155px;
    height: 47px;
    /* left: 301px; */
    /* top: 3569px; */
    margin-left: 30%;
    margin-top: 30px;
    background: #23600C;
    border-radius: 5px;   
    color: #FFFFFF;
}
footer{
    align-items: center;
    color: black;
height: 100px;
background: #EFEFEF;
box-shadow: 3px -13px 7px -4px #CFCFCF;
}
footer p{
    text-align: center;
    padding-top: 50px;
}


@media screen and (max-width: 768px) {
    nav ul{
        width: 50%;
    }
}

@media screen and (max-width: 567px) {
    nav ul{
    display: block;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    top: -33px;
    background-color: rgb(255, 255, 255);
    transform: translateX(0);
    z-index: 1px ;
    transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(100%);
    }
    .menu-bar {
        margin-top: 30px;
    }
    nav ul li {
        position: relative;
        padding-top: 100px;
        text-align: center;
    }
    nav ul li a{
        margin: -50px;
    }
    .logo img{
        margin-left: -100px;
    }
    .menu-bar {
        display: flex;
        margin-right: -100px;
        /* margin-top: 15px; */
    }
    .jumbotron-img{
        display: none;
    }
    .jumbtron-title{
        text-align: center;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        /* font-weight: 600; */
        font-size: 40px;
        margin-left: 50%;
        position: relative;
    }
    .jumbtron-title p{
        position: relative;
        margin-left: 100px;
        margin-right: -157px;
        font-style: normal;
        font-weight: normal;
        text-align: justify;
        margin-top: 40px;
    }
    .btn-jumbotron{
        box-sizing: border-box;
        position: relative;
        width: 100px;
        height: 32px;
        left: 0;
        margin-top: 30px;
        background: #FEFEFE;
        border: 1px solid #3EC70B;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        cursor: pointer;
    
    }
    /* about */
    .about-row {
        flex-direction: column;
        flex-basis: 50%;
    }
    .about-column{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    #about-title{
        margin-left: 50px;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 40px;
    }
    .about-row img{
        width: 250px;
        height: 250px;
        margin-left: 70px;
    }
    .about-row h3{
        margin-bottom: 20px;
        font-size: large;
    }
    .about-row p{
        font-size: 12px;
        text-align: justify;
        margin-right: 50px;
    }
    /* end about */
    .line-title{
        position: relative;
    width: 138px;
    border-radius: 8px;
    border: 5px solid #236000;
    align-items: center;
    margin-left: 200px;
    margin-top: -20px;
    }
    .produk-row{
        flex-direction: column;
    }
    .gallery-row{
        flex-direction: column;
        margin-left: 10%;
    }
    .kontak-row{
        flex-direction: column-reverse;
        right: 50%;
    }
    .card-profile{

        margin-left: -40px;
    }
    .form-contact{
        margin-top: 50px;
        width: 100%;
        margin-left: -40px;
    }

}