* {
    box-sizing: border-box;
  }
  
  .container {
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .box {
    flex-basis: 25%;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    
  }
  .double {
      flex-basis: 50%;
  }