/* .container{
    width: 800px;
    height: 250px;
    display: flex;
    background-color: #11C5C6;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.box{
    flex-grow: 1;
    background-color: #FBDD1C;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
} */

/* flex direction */
.flex-column {
    display: flex;
    flex-direction: column;

    /* properti lainnya */
    width: 800px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #11C5C6;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    /* properti lainnya */
    padding: 20px;
    margin: 5px;
    background-color: #FBDD1C;
    border: 2px solid black;
    border-radius: 10px;
}

.box {
    flex-grow: 1;

    /* properti lainnya */
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fe899a;
}