
.box{
    height: 200px;
    width: 200px;
    
}
.first{
    background-color: #60d0a8;
}
.second {
    background-color: #6495ed;
    position: relative;
    top: 30px;
    left: 10px; 
 }

 .third {
    background-color: #ffa500;
 }