
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
main{
    padding: 20px;
    overflow: auto;
}

/* content */
#content{
    float: left;
    width: 75%;
}
aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* nav */
.jumbotron{
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    font-size: 20px;
    color: white;
}
header{
    display: inline;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;

}
nav a:hover{
    font-weight: bold;
}
nav {
    /* float: right; */
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;

}
nav ul li{
    display: inline;
    margin: 5px;
}

/* article */
.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
/* aside */
.profile header{
    text-align: center;
}
.profile_img{
    width: 200px;
}

h2{
    color: #00a2c6;
}

h3{
    color: #00a2c6;
}

footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
  }
/* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 992px */
@media screen and (max-width: 992px) {
    /* ..... */
  }
   
  /* Rule yang dituliskan dalam block @media di bawah akan diterapkan pada device yang memiliki ukuran viewport di bawah 600px */
  @media screen and (max-width: 600px) {
    /* ..... */
  }