/* 
.box{

    box-sizing: border-box;
    width: 362px;
    height: 428px;
    left: 497px;
    top: 1336px;
    background: linear-gradient(180deg, #F4E284 0%, rgba(255, 224, 58, 0) 100%);
    border: 1px solid rgba(0, 0, 0, 0.01);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding: 20px;
}
.elips{

    position: absolute;
    width: 128px;
    height: 128px;
    left: 274px;
    top: 360px;
    background: #FFE03A;
    border-radius: 100px;
}
.img-content{
    width: auto;
    height: 200px;
    left: 200px;
    top: 1387px;
    border: 1px solid #FFE03A;
}
 img {
    width: auto;
    height: 200px;
    position: absolute;
} */

*{
    padding: 0;
    margin: 0;
}

nav{
    width: 100%;
    height: 40px;
    background: #FFE03A;
    padding-top: 20px;

}
nav ul{
    float: right;
    margin-right: 100px;
}
ul li {
    display: inline;
    margin: 20px;
}
ul li a {
    text-decoration: none;
    color: white;
}
.logo{
    float: left;
    margin-left: 100px;
}
.banner {
    width: 100%;
    height: 30vh;
    background-image: url(../image/coffeandlaptop.jpg);
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.banner h1 {
    text-align: center;
    color: #FFE03A;
}