*{
    margin: 0;
    padding: 0;
}
body{
    /* overflow-x: ; */
}

nav{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.menu-bar{
    display: none;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}
.menu-bar input {
    position: absolute;
    width: 60px;
    height: 40px;
    left: -10px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
/* animasi menu-bar*/
.menu-bar span:nth-child(2){
    background-color: red;
    transform-origin: 0 0;
}
.menu-bar span:nth-child(4){
    background-color: red;
    transform-origin: 0 100%;
}
.menu-bar input:checked~span:nth-child(2){
    transform: rotate(45deg) translate(0px, -1px);
}

.menu-bar input:checked~span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-bar input:checked~span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}
.menu-bar span:nth-child(2){
    background-color: red;
}
.menu-bar span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.5s;
}


@media screen and (max-width: 768px) {
    nav ul{
        width: 50%;
    }
}

@media screen and (max-width: 567px) {
    nav ul{
    display: block;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    top: -33px;
    background-color: aliceblue;
    transform: translateX(100%);
    z-index: 1px ;
    transition: all 1s;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    nav ul li {
        position: relative;
        padding-top: 100px;
        text-align: center;
    }
    nav ul li a{
        margin: -50px;
    }
    .logo img{
        margin-left: -100px;
    }
    .menu-bar {
        display: flex;
        margin-right: -100px;
        /* margin-top: 15px; */
    }
    

}